<div class="row mt-4">
    <div class="col-md-6">
      <div class="row" style="height: 460px;">
        <div class="col-md-13 my-auto side-header">
          <img src="/assets/Img/techlog.jpg" class="mx-auto d-block">
          <h3>User Registration</h3>
          <p><em>-Using <strong>.Net Core</strong> y <strong>Angular 13</strong></em></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
          <label>FirstName</label>
          <input class="form-control" formControlName="FirstName">
          <label class="text-danger" *ngIf="service.formModel.get('FirstName').touched && service.formModel.get('FirstName').errors?.required">Este campo es obligatorio</label>
        </div>
        <div class="form-group required">
          <label>LastName</label>
          <input class="form-control" formControlName="LastName">
          <label class="text-danger" *ngIf="service.formModel.get('LastName').touched && service.formModel.get('LastName').errors?.required">Este campo es obligatorio</label>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="Email">
          <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Direccion de Correo invalida.</label>
        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Este campo es obligatorio.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimo 4 caracteres.</label>
          </div>
          <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Este campo es obligatorio</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">El password no coincide.</label>
          </div>
        </div>
        <div class="form-row">
          <div><p></p></div>
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>
